/* Header and Nav bar */
body {

    margin: 0;
}

header h1 {
    color: #1f1f1f;
    font-family: 'Arial', sans-serif;
    clear: both;
    display: inline-block;
    margin-top: 10px;
    padding: 0;

}

#nav-bar {
    color: #1f1f1f;
    font-size: 120%;
    font-family: 'Arial', sans-serif;
    letter-spacing: 4px;
    margin-top: 0px;
    float: right;

}

#nav-bar li {
    float: right;
    margin-right: 30px;
    list-style-type: none;

}


/* Header image and overlay text */

#header-image {
    width: 100%;
    background: url(/assets/images/playstation-logo-dark.jpeg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center 75%;
    margin: 0;

}

#header-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;


}

#intro-overlay {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 500px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: black;
    bottom: 325px;
    left: 375px;
    position: absolute;

}

#intro-overlay p,
#intro-overlay h2 {
    color: #ffffff;
}


/* PS1 Info Section */

#ps1-info {


    text-align: left;
    width: 30%;
    display: inline-block;
    clear: both;
    margin-left: 30px;
    font-family: Arial, sans-serif;
}


#ps1-logo {

    width: 25%;
    float: right;
    clear: both;

}

#ps1-logo img {

    width: 150%;
    float: right;
    clear: both;
    margin-right: 30px;
}

/*Best Games Section */

#best-selling-games {

    display: block;
    font-family: arial, sans-serif;
    background-color: navy;
    color: white;
    padding-left: 30px;
    padding-top: 2px;
}


#game-left {

    float: left;
    width: 33%;
    margin-left: 30px;
    display: block;
    text-align: center;
    font-family: arial, sans-serif;


}

#game-right {

    float: right;
    width: 33%;
    display: block;
    text-align: center;
    font-family: arial, sans-serif;


}

#game-middle {

    width: 30%;
    margin: 0 auto;
    display: inline-block;
    clear: both;
    text-align: center;
    font-family: arial, sans-serif;


}

#gran-turismo-1 {

    width: 30%;
}

#final-fantasy-7 {

    width: 38%;
}

#gran-turismo-2 {

    width: 30%;
}



/* Footer Styling */
footer {
    background-color: black;
    display: block;
    color: white;
    font-family: arial, sans-serif;

}


/* Newsletter Styling */

#newsletter {

    text-align: center;

}

input {
    display: block;
}

/* Social Links */

#social-links {

    text-align: center;
    text-decoration-style: none;

}

#social-links li {
    display: inline;
}