/* Headers and Nav bar */

header { 
    background-color: #00439c;
}

#header-image {
    width: 100%;
    background:url(/assets/images/playstation-logo-blue.webp);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    
}

h1 {
    color: #ffffff;
    font-family: arial, sans-serif;
    padding: 0;
    margin-top: 0;
    display: inline-block;
}

#nav-bar {
    color: #ffffff;
    font-size: 120%;
    letter-spacing: 4px;
    margin-top: 0px;
    display: inline-block;
    float: right;
    }

#nav-bar li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
  
    
}


/* Paragraph Styling */
p {
    font-family: Arial,sans-serif;
    color: #1f1f1f;
}

/* PS1 Info Section */

#ps1-info {

    
    text-align: left;
    width: 30%;
    display: inline-block;
    clear: both;
    margin-left: 30px;
}


#ps1-logo {

    width: 30%;
    float: right;
    clear: both;
    
}

#ps1-logo img {

    width: 150%;
    float: right;
    clear: both;
    margin-right: 30px;
}

/*Best Games Section */

#best-selling-games {

   display: block;
}


#game-left {

    float: left;
    width: 33%;
    margin-left: 30px;
    display: block;
    text-align: center;
    
    
}

#game-right {

    float: right;
    width: 33%;
    display: block;
    text-align: center;

   
}

#game-middle {

    width: 30%;
    margin: 0 auto;
    display: inline-block;
    clear: both;
    text-align: center;


}

#gran-turismo-1 {

    width: 30%;
}

#final-fantasy-7 {

    width: 38%;
}

#gran-turismo-2 {

    width: 30%;
}



/* Footer Styling */
footer {
    background-color: #00439c;
    display: block;
}